
html {
    font-size: 16px;
    font-family: Bitter, serif;
}

a {
    color: black;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}

nav {
    position: fixed;
    z-index: 5;
    left: -15%;
    top: 0; bottom: 0;
    height: 100%;
    width: 20%;
    margin: 0;
    background-color: hsl(50, 100%, 50%);
    border-right: 1px solid black;
    transition: left 0.5s ease-out 0.1s;
    display: flex;
    flex-direction: row;
}
nav:hover {
    left: 0;
}
nav a {
    text-decoration: none;
}
nav .panel {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 75%;
    border-right: 1px solid black;
    transition: width 0.5s ease-out 0.1s;
}
nav:hover .panel {
    width: 100%;
}
nav h2 {
    text-align: center;
    background-color: hsl(50, 100%, 50%);
    transition: font-size 0.5s;
}
nav h2:hover {
    font-size: 3rem;
    cursor: pointer;
}
nav ul {
    margin: 0; padding: 0;
}
nav ul li {
    height: 12rem;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(50, 100%, 50%);
    transition: background-color 500ms;
}
nav ul li:hover {
    background-color: hsl(50, 100%, 75%);
    cursor: pointer;
}
#x {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 25%;
    transition: font-size 0.5s ease-out 0.1s, width 0.5s ease-out 0.1s;
}
nav:hover #x {
    font-size: 0rem;
    width: 0%;
}

.header {
    position: fixed;
    z-index: 2;
    margin: 0; padding: 0;
    top: 0;
    left: 5%; right: 0;
    width: 95%;
    height: 10rem;
    border-bottom: 1px solid black;
    background-color: white;
    text-align: center;
}
.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header a {
    text-decoration: none;
}
.content {
    position: relative;
    top: 10rem;
    margin: 2.5% 2.5% 2.5% 7.5%;
    transition: margin-left 0.5s ease-out 0.1s;
}
nav:hover .content {
    margin-left: 20rem;
}
.content div {
    padding: 1rem;
}


/*about me section*/
img {
    height: 20rem;
}
.images {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 2;
}
#bandcamp iframe {
    border: 0; 
    width: 100%; 
    height: 7.5rem;
}
.content #sqaf {
    font-family: Orbitron;
}
#form {
    line-height: 2rem;
}

#submit, #reinput {
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(50, 100%, 50%);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.25rem black;
    padding: 0.5rem;
    width: auto;
}
#reinput:active {
    transform: translateY(5rem);
    box-shadow: 0 0 0; 
    outline: 0; 
}

#socials {
    display: flex;
    justify-content: start;
    align-items: center;
}
#socials img {
    height: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media only screen and (max-height: 900px) {
    nav ul li {height: 10rem;}
}
@media only screen and (max-height: 800px) {
    nav ul li {height: 8rem;}
}
@media only screen and (max-height: 680px) {
    nav ul li {height: 6rem;}
    .header {height: 8rem;}
    h1 {font-size: 3rem;}
}

@media only screen and (max-width: 940px) {
    nav {left: -15rem; width: 20.5625rem;}
    #x {width: 5.875rem;}
    .content {margin-left: 7rem;}
}
@media only screen and (max-width: 640px) {
    img {max-height: 20rem;}
}